article.single_tool

  header.single_tool_title
    h2=tool.title

  if(tool.use)
    p.single_tool_use=tool.use
    
  h3.single_tool_projects_header Used In

  section.single_tool_projects_list
    each project,index in tool.projects
      a(href="/project/" + project.slug)=project.title
      if(index < tool.projects.length - 1)
        span=", " 

  if(tool.references)
    section.single_tool_references
      h3.single_tool_references_title References
      each reference,index in tool.references
        a(href=reference.url)=reference.title
        if(index < tool.references.length - 1)
          span=", "

  section.single_tool_view_all
    a(href="/tools") View all tools